div#uncontrolled-tab-example {
    background: #C02425;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: #ffff;
    width: 100%;
    float: left;
    /* margin-left: 77px; */
    padding: 25px;
    margin-top: 1px;
    margin-bottom: 3px;
}